@{
  Layout = "_Layout";
}

@model Registrar.Models.Student
<header>
  <h1>Edit the student</h1>
</header>
<main>
  <h3>Edit this @Html.DisplayFor(model => model.Name)</h3>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StudentId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.DropDownList("CourseId")
    <input type="submit" value="Save" />
  }
  <p>@Html.ActionLink("Back to student list", "Index")</p>
</main>